
button{
 transition: ease-in-out 0.5s;
}

button:hover{
  transform: scale(1.1)
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/